body {
    font-size:10pt;
    vertical-align: center;
}

table > caption {
    font-size:14pt;
    font-weight:bold;
}

td > table > caption {
    font-size:12pt;
}

table {
/*     width: 100%; */
/*     word-break: break-all; */
}

th {
    word-break: normal;
}

#main {
    margin-right: 25px;
    margin-left: 25px;
    column-count: 2;
}

#category_links {
    display: block;
/*     float: left; */
/*     height: 10000px; */
}

#sort_by_block {
    margin-left: 100px;
    margin-top: 25px;
}

ul {
    display:inline;
}

.content {
    display: block;
}

.display_category_block {
    display: block;
    padding: 10px;
}

.edit_category_link {
    margin-left: 15px;
}

.row-odd {
    background-color: white;
}

.row-even {
    background-color: #D9E8DE;
}

.inline_form {
    display:inline;
}

.category_edit_block {
    margin:50px
}

textarea {
    width: 300px;
}


.category_field {
    margin-left:25px
}

.term_form {
    background-color: #FDFFBF;
    border-color: white;
    padding:0;
    margin:0;
}

.description_field {
    padding-left: 50px;
}

.profile {
    margin: 50px;
}